.header {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.header__left {
  grid-column: span 11;
  padding-left: 15.9%;
  padding-top: 4.8%;
  padding-bottom: 8.7%;
  background: url('/img/image1.png') 100% center no-repeat;
  background-size: 100%;
}

.header__right {
  grid-column: span 5;
}

.header__logo {
  display: block;
  max-width: 100%;
}

.header__slogan {
  font-size: 18px;
  color: $colorText;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  margin-top: 5px;
}